# Import Everything
## Import necessary modules

In [4]:

import numpy as np
import os
from pathlib import Path
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.tree import DecisionTreeClassifier


main_path = os.getcwd()
parent_path = Path(os.getcwd()).parent
src_path = str(parent_path) + "/src/directories"
os.chdir(src_path)

import change_directory

os.chdir(main_path)

## Import data

In [6]:
cd = change_directory.ChangeDirectory()
cd.change_to_data_dir()
ccd_df = pd.read_csv("processed/processed_credit_card_defaults.csv")
cd.change_to_notebook_dir()

,LIMIT_BAL,AGE,Bill_amount_Sep,Bill_amount_Aug,Bill_amount_Jul,Bill_amount_Jun,Bill_amount_May,Bill_amount_Apr,Bill_amount_Sep.1,Bill_amount_Aug.1,...,Payment_hist_Apr_-2,Payment_hist_Apr_-1,Payment_hist_Apr_0,Payment_hist_Apr_2,Payment_hist_Apr_3,Payment_hist_Apr_4,Payment_hist_Apr_5,Payment_hist_Apr_6,Payment_hist_Apr_7,Payment_hist_Apr_8
0,20000,24,3913,3102,689,0,0,0,0,689,...,1,0,0,0,0,0,0,0,0,0
1,120000,26,2682,1725,2682,3272,3455,3261,0,1000,...,0,0,0,1,0,0,0,0,0,0
2,90000,34,29239,14027,13559,14331,14948,15549,1518,1500,...,0,0,1,0,0,0,0,0,0,0
3,50000,37,46990,48233,49291,28314,28959,29547,2000,2019,...,0,0,1,0,0,0,0,0,0,0
4,50000,57,8617,5670,35835,20940,19146,19131,2000,36681,...,0,0,1,0,0,0,0,0,0,0

# Begin Model Building
## Train-Test Split

In [9]:
ccd_df.columns

Index(['LIMIT_BAL', 'AGE', 'Bill_amount_Sep', 'Bill_amount_Aug',
       'Bill_amount_Jul', 'Bill_amount_Jun', 'Bill_amount_May',
       'Bill_amount_Apr', 'Bill_amount_Sep.1', 'Bill_amount_Aug.1',
       'Bill_amount_Jul.1', 'Bill_amount_Jun.1', 'Bill_amount_May.1',
       'Bill_amount_Apr.1', 'DEFAULT', 'FEMALE', 'GRADUATE_SCHOOL',
       'UNIVERSITY', 'HIGH_SCHOOL', 'EDUCATION_OTHERS', 'EDUCATION_UNKNOWN_1',
       'EDUCATION_UNKNOWN_2', 'MARRIED', 'SINGLE', 'MARRIAGE_OTHERS',
       'Payment_history_Sept_-2', 'Payment_history_Sept_-1',
       'Payment_history_Sept_0', 'Payment_history_Sept_1',
       'Payment_history_Sept_2', 'Payment_history_Sept_3',
       'Payment_history_Sept_4', 'Payment_history_Sept_5',
       'Payment_history_Sept_6', 'Payment_history_Sept_7',
       'Payment_history_Sept_8', 'Payment_history_Aug_-2',
       'Payment_history_Aug_-1', 'Payment_history_Aug_0',
       'Payment_history_Aug_1', 'Payment_history_Aug_2',
       'Payment_history_Aug_3', 'Payment_history_Aug_4',
       'Payment_history_Aug_5', 'Payment_history_Aug_6',
       'Payment_history_Aug_7', 'Payment_history_Aug_8', 'Payment_hist_Jul_-2',
       'Payment_hist_Jul_-1', 'Payment_hist_Jul_0', 'Payment_hist_Jul_1',
       'Payment_hist_Jul_2', 'Payment_hist_Jul_3', 'Payment_hist_Jul_4',
       'Payment_hist_Jul_5', 'Payment_hist_Jul_6', 'Payment_hist_Jul_7',
       'Payment_hist_Jul_8', 'Payment_hist_Jun_-2', 'Payment_hist_Jun_-1',
       'Payment_hist_Jun_0', 'Payment_hist_Jun_1', 'Payment_hist_Jun_2',
       'Payment_hist_Jun_3', 'Payment_hist_Jun_4', 'Payment_hist_Jun_5',
       'Payment_hist_Jun_6', 'Payment_hist_Jun_7', 'Payment_hist_Jun_8',
       'Payment_hist_May_-2', 'Payment_hist_May_-1', 'Payment_hist_May_0',
       'Payment_hist_May_2', 'Payment_hist_May_3', 'Payment_hist_May_4',
       'Payment_hist_May_5', 'Payment_hist_May_6', 'Payment_hist_May_7',
       'Payment_hist_May_8', 'Payment_hist_Apr_-2', 'Payment_hist_Apr_-1',
       'Payment_hist_Apr_0', 'Payment_hist_Apr_2', 'Payment_hist_Apr_3',
       'Payment_hist_Apr_4', 'Payment_hist_Apr_5', 'Payment_hist_Apr_6',
       'Payment_hist_Apr_7', 'Payment_hist_Apr_8'],
      dtype='object')

In [10]:
X = ccd_df.drop('DEFAULT', axis=1)
y = ccd_df.DEFAULT
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2819)

In [11]:
ccd_dt = DecisionTreeClassifier(class_weight='balanced')
param_grid = {'criterion': ['gini', 'entropy'],
              'max_depth':[None, 8, 10, 12],
              'min_samples_split':[2, 10, 25],
              'min_samples_leaf':[1, 5, 15],
              'max_features':[None, 'sqrt']}

dt_gs = GridSearchCV(ccd_dt, param_grid, cv=5 )

In [12]:
dt_gs.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'criterion': ['gini', 'entropy'], 'max_depth': [None, 8, 10, 12], 'min_samples_split': [2, 10, 25], 'min_samples_leaf': [1, 5, 15], 'max_features': [None, 'sqrt']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [14]:
dt_gs.best_score_

0.74475